<h1>Image Carousel</h1>

<div style="width: 70%; height: 70vh; margin: auto; position: relative; display: flex; gap: 10px;">
  <button (click)="prev()" style="position: absolute; background-color: transparent; border: none; font-size: 5rem; top: 35%; cursor: pointer;"><</button>

  <img [src]="images[idx]" [alt]="idx" style="object-fit: cover; width: 80%; margin: auto; height: 80%;">

  <button (click)="next()" style="position: absolute; background-color: transparent; border: none; font-size: 5rem; top: 35%; right: 10px; cursor: pointer;">></button>
</div>